# Base de données
DATABASE_URL="postgresql://user:password@localhost:5432/pia_db?schema=public"

# Secrets JWT
JWT_SECRET="votre-jwt-secret-tres-securise"
JWT_REFRESH_SECRET="votre-refresh-secret-tres-securise-different"

# CORS
FRONTEND_URL="*"

# Port du serveur
PORT=3000
